<div cdsTheme="g100">
	<cds-header brand="ST" name="[ScholarTracer]" [route]="['/']">
		<cds-header-navigation>
			<cds-header-item routerLink="catalog">Catalog</cds-header-item>
			<cds-header-item routerLink="docs">Docs</cds-header-item>
			<cds-header-item routerLink="support">Support</cds-header-item>
			<cds-header-menu title="Scholarships">
				<cds-header-item routerLink="link1">Europe</cds-header-item>
				<cds-header-item>United States</cds-header-item>
				<cds-header-item>Africa</cds-header-item>
			</cds-header-menu>
		</cds-header-navigation>
		<cds-header-global>
			<cds-header-action title="notification">
				<svg cdsIcon="notification" size="20"></svg>
			</cds-header-action>
			<cds-header-action description="user profile">
				<svg cdsIcon="user--avatar" size="20"></svg>
			</cds-header-action>
			<cds-header-action>
				<svg cdsIcon="switcher" size="20"></svg>
			</cds-header-action>
		</cds-header-global>
	</cds-header>
</div>
