<nav class="navbar navbar-expand navbar-dark bg-dark" data-bs-theme="dark">
        <a href="#" class="navbar-brand">SpringLogin</a>
        <ul class="navbar-nav mr-auto" routerLinkActive="active">
            <li class="nav-item">
                <a routerLink="home" class="nav-link">Home </a>
            </li>
            @if (showAdminBoard) {
            <li class="nav-item">
                <a routerLink="admin" class="nav-link">Admin Board</a>
            </li>
            } @if (showModeratorBoard) {
            <li class="nav-item">
                <a routerLink="mod" class="nav-link">Moderator Board</a>
            </li>
            } @if (isLoggedIn) {
            <li class="nav-item">
                <a routerLink="user" class="nav-link">User</a>
            </li>
            }
        </ul>

        @if (!isLoggedIn) {
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a routerLink="/register" class="nav-link">Sign Up</a>
            </li>
            <li class="nav-item">
                <a routerLink="/login" class="nav-link">Login</a>
            </li>
        </ul>
        } @else {
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a routerLink="/profile" class="nav-link">{{
                    username
                }}</a>
            </li>
            <li class="nav-item">
                <a routerLink class="nav-link" (click)="logout()">LogOut</a>
            </li>
        </ul>
        }
    </nav>

